* {box-sizing: border-box;}

:root {
    --jasmine: #FFED85;
    --chillie-red: #D64933;
    --eerie-black: #1E231B;
    --lavender: #E2E4F6;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--chillie-red);
    font-family: "Kode Mono", monospace;
}
.container {
    font-size: 16px;
    background-color: var(--jasmine);
    width: 100%;
    max-width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px;
}

#options-container {
text-align: center;
}

#options-container div {
width: 100%;
display: flex;
justify-content: space-between;
margin: 20px 10px 20px 0;
}

#options-container button {
padding: 15px;
border: 3px solid black;
background-color: white;
color: black;
border-radius: 5px;
text-transform: capitalize;
cursor: pointer;
}

#options-container button:disabled {
border: 3px solid gray;
color: white;
background-color: var(--lavender);
}

#options-container button.active {
background-color: var(--eerie-black);
border: 3px solid black;
color: #fff;
}

.keyboard {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 7px;
}

#keyboard button {
height: 27px;
width: 27px;
border-radius: 3px;
background-color: #ffffff;
cursor: pointer;
}

.play-again {
background-color: var(--jasmine);
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 3px;
}

#answerSection {
display: flex;
justify-content: center;
font-size: 27px;
margin: 20 0 20 0;
}

canvas {
display: block;
margin: auto;
border: 10px solid var(--chillie-red);
border-radius: 10px;
}

.hide {
display: none;
}

#result h2 {
font-size: 27px;
text-align: center;
}

#result p {
font-size: 24px;
}

#result span {
font-weight: 600;
}

#playBtn {
font-size: 27px;
padding: 15px;
background-color: var(--eerie-black);
border: 3px solid black;
color: var(--lavender);
border-radius: 3px;
cursor: pointer;
}

.win-msg {
color: var(--eerie-black);
}

.lose-msg {
color: var(--chillie-red);
}

